<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis_demo.mapper.ArticleInfoMapper">
   <insert id="add">
       insert into articleinfo(title,content,uid) values (#{articleInfo.title},#{articleInfo.content},#{articleInfo.uid})
   </insert>

    <insert id="addGetId" useGeneratedKeys="true" keyProperty="id">
        insert into articleinfo(title,content,uid) values (#{articleInfo.title},#{articleInfo.content},#{articleInfo.uid})
    </insert>

    <delete id="deleteById">
        delete from articleinfo where id = #{id}
    </delete>

    <update id="updateTitle">
        update articleinfo set title = #{title} where id =#{id}
    </update>
</mapper>